[core]
  editor = vim
  hooks-path = ~/.git-hooks
[user]
	email = rogeriocfj+github@gmail.com
	name = Rogerio Chaves
[alias]
  s = status -sb
  st = status
	df = diff --cached --color --color-words
	dff = diff --color --color-words
	current-branch = rev-parse --abbrev-ref HEAD
	graph = log --graph --decorate --oneline --branches
	l = log
	co = checkout
  ci = commit
  undo = reset --soft HEAD^
  ll = log --pretty=oneline
  prom = pull --rebase origin master
  pfwl = push --force-with-lease
  ap = add -p
[color]
	ui = auto
[push]
	default = current
[pull]
  default = simple
[github]
  user = rogeriochaves
[credential]
  helper = osxkeychain
